Repository lattice/quda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lattice/quda_core, @lattice/cmake_maintainers, @lattice/target_cuda_maintainers, @lattice/target_hip_maintainers, @lattice/target_sycl_maintainers

Prohibit local lattice size smaller than 6 for partitioned directions
  lib/staggered_quark_smearing.cu
Owners: @lattice/quda_core

Change namespace into hmma and smma to distinguish bw them.
  include/kernels/coarse_op_kernel_mma.cuh
  include/kernels/coarse_op_preconditioned_mma.cuh
  include/kernels/dslash_domain_wall_m5_mma.cuh
  include/kernels/dslash_mdw_fused.cuh
  include/targets/cuda/mdw_dslash5_tensor_core.cuh
  include/targets/cuda/mma_tensor_op/gemm.cuh
  include/targets/cuda/mma_tensor_op/hmma_m16n16k16_sm70.cuh
  include/targets/cuda/mma_tensor_op/hmma_m16n8k8_sm80.cuh
  include/targets/cuda/mma_tensor_op/smma.cuh
  include/targets/cuda/mma_tensor_op/smma_inst.cuh
  include/targets/cuda/mma_tensor_op/smma_m16n8_sm80.cuh
  lib/coarse_op.cuh
  lib/coarse_op_mma_launch.h
  lib/coarse_op_preconditioned.cu
  lib/coarse_op_preconditioned_mma_launch.h
Owners: @lattice/quda_core, @lattice/target_cuda_maintainers

Turn off reload and b/c reuse.
  include/kernels/dslash_domain_wall_m5_mma.cuh
  lib/dslash5_domain_wall_mma_impl.hpp
  lib/dslash_domain_wall_4d_fused_m5_mma.hpp
Owners: @lattice/quda_core

Add missing case from getStencilSteps
  lib/dirac.cpp
Owners: @lattice/quda_core

Fixes for copy/move of color-spinor and lattice field objects. Fix for valgrind warning in ColorSpinorField::setTuningString
  lib/color_spinor_field.cpp
  lib/lattice_field.cpp
Owners: @lattice/quda_core

Fix DiracMobiusPC::MdagM with fused kernel with dagger = true (fixes CGNE solvers)
  lib/dirac_mobius.cpp
  lib/interface_quda.cpp
Owners: @lattice/quda_core

some formatting
  include/kernels/color_spinor_pack.cuh
  include/kernels/dslash_shmem_helper.cuh
  lib/dslash_coarse.hpp
Owners: @lattice/quda_core

Fixed error message
  CMakeLists.txt
Owners: @lattice/cmake_maintainers

Fix ndeg-TM asym multi-shift test
  tests/host_reference/dslash_reference.cpp
  tests/host_reference/wilson_dslash_reference.cpp
Owners: @lattice/quda_core

Small cleanup of interface_quda.cpp
  lib/interface_quda.cpp
Owners: @lattice/quda_core

Fix set_params for use with clover-Hasenbusch-twist fermions, and set Nsteps to a better default value for running tests
  tests/utils/set_params.cpp
Owners: @lattice/quda_core

Fix compilation issue with instantiate.h
  include/instantiate.h
Owners: @lattice/quda_core

Cleaner fix to replace fd7343bb6b779764616bece1127c2800e2aca32c
  include/dirac_quda.h
  lib/dirac_mobius.cpp
Owners: @lattice/quda_core

Restore Lsdim for tests back to 4
  tests/CMakeLists.txt
Owners: @lattice/cmake_maintainers

.github/CODEOWNERS:

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# Each line is a file pattern followed by one or more owners.

# global catch call if not 
*       @lattice/quda_core

# CMake Maintainers
CMakeLists.txt @lattice/cmake_maintainers
*.cmake @lattice/cmake_maintainers

# CUDA Maintainers
cuda/   @lattice/target_cuda_maintainers

# HIP Maintainers
hip/    @lattice/target_hip_maintainers

# SYCL Maintainers
sycl/   @lattice/target_sycl_maintainers
